.box {
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; 
    margin: auto;
    margin-top: 25px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
}

.video-block {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.video-image {
    height: 80%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.video-name {
    background-color: #2e2f31;
    height: 20%;
    margin: 0;
    display: flex;
    align-items: center;
    overflow:hidden;
    border-radius: 0 0 10px 10px;
}

.video-name p {
    white-space: nowrap;
    color: aliceblue;
}