body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 400px;
    height: 600px;
    background: linear-gradient(45deg, #bf8040, #d9b38c)
    /* background-color: #bf8040; */
}

div {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

p {
    margin: 0px;
    padding: 0px;
}

svg {
    height: 100% !important;
    width: 100% !important;
}